/**************
 * Typography *
 **************/
html, body, #root {
	font-family: 'Dosis', sans-serif;
}

a {
	text-decoration: none;
}

.header-menu {
	color: #fb1f25;
	font-weight: 100;
}

.main-content__menu-inner-item {
	color: white;
	font-size: 6vmin;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.welcome {
	color: #fff;
	font-size: 1rem;
	font-weight: 100;
}

.project__poster-info-name {
	color: white;
	font-family: 'Dosis', sans-serif;
	font-weight: 100;
	font-size: 2.5rem;
	font-size: 5vm;
	font-size: 5vmin;
	text-transform: uppercase;
	letter-spacing: 3pt;
}

.project__poster-info-description {
	color: white;
	font-family: 'Dosis', sans-serif;
	font-weight: 100;
	font-size: 1rem;
	font-size: 2.5vm;
	font-size: 2.5vmin;
	letter-spacing: 3pt;
}

.menu-content__inner-content-title {
	text-transform: uppercase;
	font-weight: 400;
}

.menu-content__inner-content-subtitle {
	font-size: 1.5rem;
	text-align: center;
}

.menu-content__inner-content-description {
	font-size: 0.75rem;
	text-transform: none;
	text-align: center;
}

.showreel .menu-content__inner-content {
	color: white;
}

.footer__copyright {
	font-size: 0.66rem;
}

