html, body, #root {
	background: black;
}

#header, #footer {
	background: white;
}

#content .menu {
	background: red;
}

#content .menu .inner .item {
	cursor: pointer;
}

#content .menu .inner .item:hover {
	color: black;
	background: white;
}

#content .close {
	background: none;
}

#content .close.hide {
	display: none;
}

#content .close .symbol {
	color: white;
	cursor: pointer;
}

#content .close .symbol img {
	cursor: pointer;
}

#home {
	background: black;
	overflow: hidden;
}

#home .bubble-container {
	transition: transform .4s;
}

#home .bubble {
	background: rgba(0, 0, 0, 0);
	transition: background .4s;
}

#home .bubble.selected {
	background: rgba(0, 0, 0, 1);
}

#home .bubble .poster {
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	transition: border-radius .4s, transform .4s, overflow .4s;
}

#home .bubble.selected .poster {
	opacity: 1;
	cursor: auto;
}

#home .bubble .poster.expanded {
	border-radius: 0%;
	overflow: visible;
}

#home .bubble .poster .info {
	opacity: 1;
	text-align: center;
	transition: opacity .4s;
}

#home .bubble .poster .info.ios {
	pointer-events: none;
}

#home .bubble .poster .info .play,
.menu .page .info .play {
	cursor: pointer;
}

#home .bubble .poster.expanded .info {
	opacity: 0;
}

#home .bubble .close .symbol {
	background: black;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

#home .bubble .close .symbol img {
	cursor: pointer;
}

#home .bubble .poster iframe {
	opacity: 0;
}

#home .bubble .poster.playing iframe {
	opacity: 1;
}

#home .bubble.selected .poster.playing iframe {
	opacity: 0.5;
}

#home .bubble.selected .poster iframe.ios {
	pointer-events: auto;
}

.welcome.hide {
	display: none;
}

.project {
	border-radius: 50%;
}

.page {
	background-color: #fb1f25;
	color: black;
}

.page > .inner > .content {
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 1);
	transition: background-color .4s;
}

.page.showreel.expanded > .inner > .content {
	border-radius: 0% !important;
}

#video-showreel {
	opacity: 1;
	transition: opacity .4s;
}

.page.showreel .content .info {
	opacity: 0;
	transition: opacity .4s;
}

.page.showreel .content:hover .info {
	opacity: 1;
	color: white;
}

.page.showreel.expanded .content {
	background: #fb1f25 !important;
}

@media (min-width: 720px) {
	.bubble:nth-child(1):not(.selected) .poster { transform: translate(-32vw, 10vh) scale(0.2) }
	.bubble:nth-child(2):not(.selected) .poster { transform: translate(-27vw, -20vh) scale(0.3) }
	.bubble:nth-child(3):not(.selected) .poster { transform: translate(-12vw, 13vh) scale(0.4) }
	.bubble:nth-child(4):not(.selected) .poster { transform: translate(3vw, -20vh) scale(0.3) }
	.bubble:nth-child(5):not(.selected) .poster { transform: translate(8vw, 10vh) scale(0.2) }
	.bubble:nth-child(6):not(.selected) .poster { transform: translate(20vw, 0vh) scale(0.2) }
	.bubble:nth-child(7):not(.selected) .poster { transform: translate(20vw, 25vh) scale(0.2) }
	.bubble:nth-child(8):not(.selected) .poster { transform: translate(31vw, -20vh) scale(0.2) }
	.bubble:nth-child(9):not(.selected) .poster { transform: translate(31vw, 12vh) scale(0.15) }
}

@media (max-width: 720px) {
	#content .about .content,
	#content .services .content,
	#content .contact .content,
	#content .showreel .content {
		background-color: none;
		background-color: rgba(255, 255, 255, 0);
	}

	.bubble:not(.selected) .poster { transform: scale(0.6) }
}
