{{ define "index" }}

<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<link rel='stylesheet' href='css/flex.css' />
	<link rel='stylesheet' href='css/style.css' />
	<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Dosis:400,200,500,700,600,300,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id='fallback'>
		{{ range $id, $project := .Projects }}
		<h1>{{ $project.Name }}</h1>
		<p>{{ $project.Description }}</p>
		<iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ $project.YoutubeVideoID }}" frameborder="0" allowfullscreen></iframe>
		{{ end }}
	</div>

	<div id='root'></div>

	<script src='vendors/modernizr/modernizr-custom.js'></script>
	<script>var render;</script>
	<script src='js/bundle.js'></script>
	<script>
	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	function onYouTubeIframeAPIReady() {
		if (Modernizr.borderradius ||
		    Modernizr.cssanimations ||
		    Modernizr.csstransforms ||
		    Modernizr.csstransitions ||
		    Modernizr.cssvminunit ||
		    Modernizr.flexbox ||
		    Modernizr.mediaqueries) {
			render();
		}
	}
	</script>
</body>
</html>

{{ end }}
